<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 打印查询语句 -->
    <!--
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
        -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <!-- 172.31.210.92,120.27.15.205 -->
                <property name="url"
                          value="jdbc:mysql://172.31.210.92:3306/netos.uc?useUnicode=true&amp;characterEncoding=UTF-8&amp;useSSL=false&amp;autoReconnect=true&amp;rewriteBatchedStatements=true"/>
                <property name="username" value="cj"/>
                <property name="password" value="cj123456"/>
                <!-- 如果数据源的defaultAutoCommit设置为True了，那么方法中如果自己捕获了异常，事务是不会回滚的，如果没有自己捕获异常则事务会回滚  -->
                <property name="defaultAutoCommit" value="false"/>
                <property name="poolPingEnabled" value="true"/>
                <property name="poolPingQuery"
                          value="select now() from kpi.lastupdatedlog limit 1"/>
                <property name="poolPingConnectionsNotUsedFor"
                          value="3600000"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="cj/db/mappings/AppRoleMapper.xml"/>
        <mapper resource="cj/db/mappings/AppAccountMapper.xml"/>
        <mapper resource="cj/db/mappings/TenantAppMapper.xml"/>
        <mapper resource="cj/db/mappings/AppRefreshTokenMapper.xml"/>
        <mapper resource="cj/db/mappings/AppAccessTokenMapper.xml"/>
        <mapper resource="cj/db/mappings/TenantRoleMapper.xml"/>
        <mapper resource="cj/db/mappings/UaAppRolePersonMapper.xml"/>
        <mapper resource="cj/db/mappings/UaRoleEmplMapper.xml"/>
        <mapper resource="cj/db/mappings/UaRoleUserMapper.xml"/>
        <mapper resource="cj/db/mappings/UaTenantRoleUserMapper.xml"/>
        <mapper resource="cj/db/mappings/UcCompanyMapper.xml"/>
        <mapper resource="cj/db/mappings/UcDeptMapper.xml"/>
        <mapper resource="cj/db/mappings/UcEmplMapper.xml"/>
        <mapper resource="cj/db/mappings/UcRoleMapper.xml"/>
        <mapper resource="cj/db/mappings/UcTenantMapper.xml"/>
        <mapper resource="cj/db/mappings/UcUserMapper.xml"/>
        <mapper resource="cj/db/mappings/UcPropertiesMapper.xml"/>
        <mapper resource="cj/db/mappings/PhoneVerifycodeMapper.xml"/>
        <mapper resource="cj/db/mappings/DomainFieldMapper.xml"/>
        <mapper resource="cj/db/mappings/DomainGroupMapper.xml"/>
        <mapper resource="cj/db/mappings/DomainValueMapper.xml"/>
        <mapper resource="cj/db/mappings/ProductInfoMapper.xml"/>
        <mapper resource="cj/db/mappings/ProductVersionMapper.xml"/>
    </mappers>
</configuration>